/* html,
body, */
#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ebe9e5;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
